<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style= "background-color: #ffcc99; font-family: 'Futura' ;">
  <h1 style="display:flex; justify-content: center;color:#3b7a57 ;">MUSIC APP</h1>
  <div style="display:flex; justify-content: space-around;">
  <% if logged_in? %>
    <form action="<%= bands_url %>" method="GET" >
      <input type="submit" value="Take Me Home" style="background-color: lightyellow; border-radius: 10px; border 0px; ">
    </form>
    <form action="<%= session_url %>" method="POST" >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Sign out" style = "background-color: lightyellow; border-radius: 10px; border 0px;">
    </form>
  <% end %>
  </div>
    <%= yield %>
  </body>
</html>
